.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Search-Bar {
  width: 100vw;
  min-height: 5vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.Search-Input {
  width: 65%;
  min-width: 200px;
  font-size: 16px;
}

.Search-Dropdown {
  min-width: 80px;
}

.Subreddit-Input{
  width: 10%;
  min-width: 80px;
  font-size: 16px;
}

.Search-Button {
  width: 10%;
  min-width: 80px;
  font-size: 16px;
}

.Content-Body {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items:flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%
}

.Result-Header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.Result-Card {
  width: 65%;
  min-width: 380px;
  background-color: #61dafb;
  text-align: left;
  padding: 10px;
  margin-bottom: 15px;
}

.Result-Subreddit {
  margin: 0px;
}

.Result-Details {
  display: flex;
  gap: 5px;
  align-items: center;

}

.Result-Details p {
  margin: 0px;
}