.PostDetail {
    padding: 5vw 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.Subreddit-Post {
    background-color: aquamarine;
}

.Post-Title {
    text-align: left;
}

.OP-Content {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: lightgrey;
    box-shadow: inset 0 -10px 15px rgb(90, 90, 90, 0.4),
    0 10px 15px rgb(90, 90, 90, 0.5);
    text-align: left;
    line-height: 25px;
}

.Comments {
    background-color: white;
    text-align: left;
}

.Comment, .Comment p {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 14px;
}

.Comment-Divider {
    height: 0.5px;          /* thickness */
    background-color: darkgray; 
    border: none;
}